:root {
      /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(82, 60%, 28%);
    --title-color: hsl(0, 0%, 100%);
    --text-color: hsl(0, 0%, 35%);
    --body-color: hsl(0, 0%, 95%);
    --container-color: hsl(0, 4%, 9%);
  
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Poppins", sans-serif;
    --h2-font-size: 1.25rem;
    --small-font-size: .813rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body{
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1.5;
  font-family: sans-serif;
}

.landing {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #050308;
}

.content {
  padding: 50px;
  background-color: #0D0B10;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}


.header {
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.5rem;
}

.header-name {
  line-height: 1.25;
  color: #F0D6B7;
  margin-bottom: 1.25em;
}

.header-title {
  font-size: 1.2em;
  color: #99661f;
  line-height: 1.25;
}

.header-icons {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em 0;
}

.header-tags {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  gap: .5em;
}


.tags {
  display: flex;
  justify-content: center;
  background-color: #1f1e1d;
  color: #F0D6B7;
  padding: 1ex;
  border-radius: 1rex;
}

.viewp {
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  display: inline-block;
  padding: 12px 25px;
  border: 2px #df8d3b;
  border-radius: 50px;
  cursor: pointer;
  background-color: #df8d3b;
  color: #050308;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
}

.viewp:hover {
  background-color: #f0d6b7;
  box-shadow: 0 0 5px #f0d6b7;
  transform: scale(1.1);
}

.about {
  padding-top: 20px;
  margin: auto;
  width: 100%;
  text-align: center;
  
}

.projects {
  display: flex;
  justify-content: flex-start;
  margin-left: 6em;
  margin-top: 1em;
  font-size: 3.25rem;
  color: #F0D6B7;
  padding-bottom: 20px;
}

h6 {
  font-size: 11px;
}

.user-details h1 {
  font-size: 2.5rem;
  padding-top: 1em;
  line-height: 1.25;
  padding-bottom: 1em;
}

.user-details {
  text-align: center;
  margin: auto;
  display: block;
}

h3 {
  font-size: 1.5rem;
}

.contents {
  margin-left: 0px;
  width: 48%;
}

.user-projects p {
  margin-right: 5px;
}

.user-projects img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

#projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
}

.images-right {
  float: right;
  width: 48%;
}


.footertext {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #E5DCD0;
  margin-top: 1em;
  padding-bottom: 3em;
}

.line-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  height: .1em;
  border-color: #90582C;
  border-width: .3rex;
}

a {
  text-decoration: none;
  color: #F5EADE;
}

.resume {
  font-weight: bold;
  color: #050308;
  padding: 12px 25px;
  background-color: #df8d3b;
  border-radius: 50px;
  transition: 0.5s ease-in-out;
}

.resume:hover {
  box-shadow: 0 0 10px #df8d3b;
  transform: scale(1.1);
}

.iconoir-mail, .iconoir-linkedin, .iconoir-github, .iconoir-dribbble {
  font-size: 30px;
  padding: 10px 15px 10px 15px;
  margin: 20px 10px;
  transition: all 0.3s ease-in-out;
}

.fa-brands, .fa-artstation {
  font-size: 30px;
  padding: 10px 15px 10px 15px;
  margin: 20px 10px;
  transition: all 0.3s ease-in-out;
}

.iconoir-mail {
  color: #CEC4BB;
}

.iconoir-mail:hover{
  color: #050308;
  background-color: #F44336;
  border-radius: 20px;
  box-shadow: 0 0 10px #F44336;
  transform: scale(1.2);
}

.iconoir-linkedin {
  color: #CEC4BB;
}

.iconoir-linkedin:hover {
  color: #050308;
  background-color: #0394e2;
  border-radius: 20px;
  box-shadow: 0 0 10px #0394e2;
  transform: scale(1.2);
}

.iconoir-dribbble {
  color: #CEC4BB;
}

.iconoir-dribbble:hover {
  color: #050308;
  background-color: #ea4c89;
  border-radius: 20px;
  box-shadow: 0 0 10px #ea4c89;
  transform: scale(1.2);
}

.iconoir-github {
  color: #CEC4BB;
}

.iconoir-github:hover {
  color: #050308;
  background-color: #F5EADE;
  border-radius: 20px;
  box-shadow: 0 0 10px #F5EADE;
  transform: scale(1.2);
}

.fa-artstation {
  color: #CEC4BB;
  background-color: #050308;
}

.fa-artstation:hover {
  color: #050308;
  background-color: rgb(19, 175, 240);
  border-radius: 20px;
  box-shadow: 0 0 10px rgb(19, 175, 240);
  transform: scale(1.2);
}

.description {
  font-size: .7em;
  color: #f5eade;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 148px;
  position: fixed;
  background-color: #050308;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

nav .logo{
  display: flex;
  align-items: center;
  gap: 10px;
}

nav .logo img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

img {
  object-fit: cover;
  object-position: top;
}

nav .logo a{
  font-size: 15px;
}

nav .nav-link{
  display: flex;
  gap: 16px;
  color: #F5EADE;
}

.rightedge {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.5em;
}

.card_img {
  display: block;
  max-width: 100%;
  height: auto;
}

  /*=============== CARD ===============*/
  .container {
    display: grid;
    place-items: center;  
    margin-inline: 1.5rem;
    padding-block: 5rem;
  }
  
  .card__container {
    display: grid;
    row-gap: 3.5rem;
  }
  
  .card__article {
    position: relative;
    overflow: hidden;
    background-color: transparent;
    border-radius: 15px;
    transition: transform 0.5s ease-in-out;
  }
  
  .card__img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: inherit;
    filter: brightness(1);
    transition: filter 0.5s ease-in-out;
  }
    
  .card__data {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1.5rem 2rem;
    color: var(--text-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .card__description {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: .25rem;
    color: #fff
  }
  
  .card__title {
    font-size: var(--h2-font-size);
    font-weight: 500;
    color: var(--title-color);
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
  
  .card__button {
    text-decoration: none;
    font-size: var(--small-font-size);
    font-weight: 500;
    color: #F44336;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #050308;
  }
  
   /* Naming animations in hover */
  .card__article:hover .card__img {
    filter: brightness(0.3);
  }

   .card__article:hover .card__data {
    opacity: 1;
  }
  
  .card__article:hover {
    transform: scale(1.05);
  }
  
  /* Card animation */
  @keyframes show-data {
    50% {
      transform: translateY(-10rem);
    }
    100% {
      transform: translateY(-7rem);
    }
  }
  
  @keyframes remove-overflow {
    to {
      overflow: initial;
    }
  }
  
  @keyframes remove-data {
    0% {
      transform: translateY(-7rem);
    }
    50% {
      transform: translateY(-10rem);
    }
    100% {
      transform: translateY(.5rem);
    }
  }
  
  @keyframes show-overflow {
    0% {
      overflow: initial;
      pointer-events: none;
    }
    50% {
      overflow: hidden;
    }
  }

  /*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .card__data {
    width: 250px;
    padding: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 768px) {
  .card__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
}

/* For large devices */
@media screen and (min-width: 1120px) {
  /* .container {
    height: 100vh;
  } */

  .card__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .card__img {
    width: 348px;
  }
  .card__data {
    width: 316px;
    padding-inline: 2.5rem;
  }
}

.ball {
  position: absolute;
  border-radius: 100%;
  opacity: 0.7;
}
